/* General CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    margin: 0px;
}

h1 {
    margin-top: 0px;
}

/* Navbar */
.navbar {
    height: 45px;
    background-color: black;
    padding: 15px 15px 0px 15px;
}

.navbarThemeText, .navbarShoppingText {
    font-style: normal;
}

.navbarThemeText {
    font-size: 30px;
    color: white;
}

.navbarShoppingText {
    font-size: 15px;
    padding-left: 10px;
    color: grey;
}

.navbarIcon {
    height: 45px;
    float: right;
    margin-top: -7px;
}

.navbarIcon:hover {
	background-color: #fff;
	border-radius: 100%;
}

/* Content */
.contentBody {
    height: 100%;
    width: 100%;
    background-image: url('Images/Blue2.jpg');
    background-size: 100%;
    padding-top: 50px;
}

.contentBodyThanksgiving {
    background-image: url('Images/Thanksgiving2.jpg');
    background-size: 100%;
}

.shoppingListDiv {
    background-color: rgba(0,0,0,0.5);
    width: 50%;
    margin: 0px auto 50px auto;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 4px #fff;
}

ul {
    padding-left: 0px; 
}

li {
    height: 60px;
    border: 2px solid white; 
    border-radius: 3px;
    margin-top: 10px; 
    width: 50%; 
    margin-left: 25%;
    list-style-type: none; 
    background-color: lightskyblue;
    color: black;
    padding-top: 40px;
}

form {
    margin-top: 10px;   
}

.defaultItem {
    background-color: lightskyblue; 
}
